body{
    background-image: url("2ogthi.jpg");
    display:flex;
    flex-wrap: nowrap;
    object-fit: contain;
    

}
h1 {
    color:white;
}
p{
    color:white;
}
a {
    color:gold;
    font-size: large;
    font-weight: bold;
}

