.grid-container {
    background: rgb(255,255,255);
    background: linear-gradient(90deg, rgba(255,255,255,1) 3%, rgba(142,255,137,1) 16%, rgba(255,255,255,1) 38%, rgba(137,207,255,1) 50%, rgba(255,255,255,1) 62%, rgba(252,117,65,1) 87%, rgba(242,242,242,1) 97%);
    display: grid;
    grid-template-columns: 1fr 2fr 2fr 2fr 1fr;
    grid-template-rows: 0.5fr 0.2fr 1fr 1fr 2fr;
    gap: 0% 5%;
    grid-template-areas:
        "empty1   bellsproutimg  goldeenimg     vulpiximg  empty2"
        "empty1   n-1            n-2            n-3        empty2"
        "empty1   ash         playeroption   empty3     empty2"
        "empty1   gary         garyoption     empty3     empty2"
        "empty1   empty4         outcome        empty3     empty2";
    }
  .ash{grid-area: ash;  }

  .gary{grid-area: gary;}

  .emptydiv1 {grid-area: empty1; }

  .emptydiv2 {grid-area: empty2; }

  .emptydiv3 {grid-area: empty3; }

  .emptydiv4 {grid-area: empty4; }

  .bellsproutimg {grid-area: bellsproutimg; }

  .goldeenimg {grid-area: goldeenimg; }

  .vulpiximg {grid-area: vulpiximg; }

  .n-1 { grid-area: n-1; }
  
  .n-2 { grid-area: n-2; }
  
  .n-3 { grid-area: n-3; }
  
  .playeroption { grid-area: playeroption; }
  
  .garyoption { grid-area: garyoption; }
  
  .outcome { grid-area: outcome; }
  
  img{width: 100px; height: 100px; margin:auto; display:block; border-radius: 50%;object-fit: scale-down;}

  

  button {background: rgb(245,245,245);
    background: radial-gradient(circle, rgba(245,245,245,1) 0%, rgba(205,132,209,1) 100%);}
  
  .Pinfo{ display:inline; margin-top: 12%; color:rgb(87, 9, 74); font-size: large;}



  
  